<a href="https://colab.research.google.com/github/falvojr/santander-dev-week-2023/blob/master/SantanderDevWeek2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Santander 2025 (ETL com Python)

**Contexto:** Você é um cientista de dados no Santander e recebeu a tarefa de criar uma aplicação para calcular o limite de crédito de clientes de acordo com a idade e renda. Seu objetivo é efetuar o cálculo de acordo com regras pré-definidas e atualizar a planilha com o novo limite.

**Condições do Problema:**

1. Você recebeu uma planilha simples, em formato CSV ('pessoas.csv'), com uma lista de IDs, nome, idade e renda de pessoas:
  ```
ID;Nome;Idade;Renda;Limite
1;Luiz Paulo;18;1500;0
2;Lupa;20;1800;0
3;Luide;30;3500;0
4;Luiz ;32;5000;0
5;Paulo;55;4500;0
6;Costa;10;0;0
  ```
2. Seu trabalho é consumir os dados da planilha e efetuar os cálculos conforme a regra: 
```
Idade  0 - 17 anos independente da renda -> limite = 0
Idade 18 - 25 anos e renda até 2000 -> limite = 500
Idade 18 - 25 anos e renda > 2000 -> limite = 750
Idade 26 - 40 anos e renda até 2000 -> limite = 550
Idade 26 - 40 anos e renda > 2000 -> limite = 850
Idade > 40 anos e renda até 2000 -> limite = 500
Idade > 40 anos e renda > 2000 -> limite = 800
```

3. Após efetuar o cálculo atualizar novamente a planilha com o novo limite do cliente. (coluna limite).

## **E**xtract

Extraia a lista de pessoas a partir do arquivo CSV.

In [42]:
import pandas as pd

df = pd.read_csv('pessoas.csv',sep=",")
display(df)

   ID        Nome  Idade  Renda  Limite
0   1  Luiz Paulo     18   1500     500
1   2        Lupa     20   1800     500
2   3       Luide     30   3500     850
3   4       Luiz      32   5000     850
4   5       Paulo     55   4500     800
5   6       Costa     10      0       0

## **T**ransform

Efetue os cálculos corretamente conforme regra fornecida.

In [43]:
# Funcao para cálculo do limite

'''
Idade  0 - 17 anos independente da renda -> limite = 0
Idade 18 - 25 anos e renda até 2000 -> limite = 500
Idade 18 - 25 anos e renda > 2000 -> limite = 750
Idade 26 - 40 anos e renda até 2000 -> limite = 550
Idade 26 - 40 anos e renda > 2000 -> limite = 850
Idade > 40 anos e renda até 2000 -> limite = 500
Idade > 40 anos e renda > 2000 -> limite = 800
'''

def calculo_limite(idade, renda):

    limite = 0

    if idade < 17:
        limite = 0
    elif idade >= 18 and idade <= 25 and renda <= 2000:
        limite= 500
    elif idade >= 18 and idade <= 25 and renda > 2000:
        limite= 750
    elif idade >= 26 and idade <= 40 and renda <= 2000:
        limite= 550
    elif idade >= 26 and idade <= 40 and renda > 2000:
        limite= 850
    elif idade > 40 and renda <= 2000:
        limite= 500
    elif idade > 40 and renda > 2000:
        limite= 800
    else:
        limite = 0
        

    return limite

for index, row in df.iterrows():
    #print(index, row)
    limite = calculo_limite(row['Idade'],row['Renda'])
    print(f"Novo limite de {row['Nome']} - Idade: {row['Idade']} - Renda: {row['Renda']} é: {limite}")
    df.loc[df['ID'] == row['ID'], 'Limite'] = limite
    
display(df)

Novo limite de Luiz Paulo - Idade: 18 - Renda: 1500 é: 500
Novo limite de Lupa - Idade: 20 - Renda: 1800 é: 500
Novo limite de Luide - Idade: 30 - Renda: 3500 é: 850
Novo limite de Luiz  - Idade: 32 - Renda: 5000 é: 850
Novo limite de Paulo - Idade: 55 - Renda: 4500 é: 800
Novo limite de Costa - Idade: 10 - Renda: 0 é: 0

   ID        Nome  Idade  Renda  Limite
0   1  Luiz Paulo     18   1500     500
1   2        Lupa     20   1800     500
2   3       Luide     30   3500     850
3   4       Luiz      32   5000     850
4   5       Paulo     55   4500     800
5   6       Costa     10      0       0

## **L**oad

Atualize o arquivo CSV com os limites calculados.

In [39]:
df.to_csv("Pessoas.csv", index=False)